.homeRol {
  display: flex;
  background-image: url("../images/Fondo12.jpg");
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.homeRol__welcome {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: left;
  margin-top: 25px;
  color: white;
}

.homeRol__welcomeMessage {
  font-size: 35px;
}

.homeRol__signout {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.homeRol__signoutIcon {
  font-size: 40px !important;
  color: #f0a029;
  cursor: pointer;
}
